<mat-toolbar id="navbar" >
  <div class="container" style="display: flex; align-items: center;justify-content: center;">

    <button mat-icon-button>
      <img src="../../../assets/cart-logo.jpg" alt="Cart" >
    </button>

  <span>Fresh Cart</span>
  <span class="spacer"></span>

  <button mat-button [routerLink]="['/home']">Home</button>
  <button mat-button [routerLink]="['/cart']">Cart</button>
  <button mat-button [routerLink]="['/products']">Products</button>

  <button mat-button [routerLink]="['/categories']">Categories</button>
  <button mat-button>Brands</button>

  <span class="spacer"></span>

  <div>
    <button mat-icon-button>
     <img src="../../../assets/icon-instagram.svg" alt="Instagram">
    </button>
    <button mat-icon-button>
      <img src="../../../assets/facebook-logo.png" alt="Facebook">
    </button>
    <button mat-icon-button>
      <img src="../../../assets/tiktok-logo2.png" alt="Tiktok">
    </button>
    <button mat-icon-button>
      <img src="../../../assets/icon-twitter.svg" alt="Twitter">
    </button>
    <button mat-icon-button>
      <img src="../../../assets/linkedin-logo.png" alt="Linkedin">
    </button>
    <button mat-icon-button>
      <img src="../../../assets/youtube-logo.png" alt="Youtube">
    </button>

  </div>
  <button mat-button (click)="signOut()">SignOut</button>
</div>
</mat-toolbar>

