<footer id="footer">
  <div class="container">
    <h1 style="padding-top: 10px">Get the FRESHCart app</h1>
    <p>We will send you a link, open it on your phone to download the app</p>

    <div class="form-group" style="display: flex">
      <label for="inputEmail"></label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        placeholder="Enter email"
      />
      <button type="button" class="btn btn-success" id="send-email-button">
        Share App Link
      </button>
    </div>
    <hr />
    <div class="footer-partners">
      <h4>Payment Partners</h4>
      <img
        src="../../../assets/amazon-pay.png"
        alt="Amazon"
        class="footer-img"
      />
      <img
        src="../../../assets/american-express.png"
        alt="American Express"
        class="footer-img"
      />
      <img
        src="../../../assets/Mastercard-Logo.png"
        alt="MasterCard"
        class="footer-img"
      />
      <img src="../../../assets/paypal.png" alt="Paypal" class="footer-img" />
      <span class="spacer"></span>

      <h4>Get deliveries with FreshCart</h4>
      <img
        src="../../../assets/appstore-logo.jpg"
        alt="AppStore"
        style="width: 100px; height: max-content"
      />
      <img
        src="../../../assets/googleplay-logo2.png"
        alt="playstore-logo"
        style="width: 100px; height: max-content"
      />
    </div>
    <hr />
  </div>
</footer>
